.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options{
    text-decoration: none;
    color: #000;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
}